.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(----DarkSlateGrey);
	font-weight: 400;
	background-color: var(--White);
	height: 100%;
	padding: 0 2rem;
}
.app > section {
	max-width: 450px;
}

@media (min-width: 992px) {
	.app {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 550px;
		max-width: 1440px;
		min-width: 750px;
		padding: 25px;
		transform: translate(-50%, -50%);
		flex-direction: row-reverse;
		align-items: center;
		gap: 20px;
		border-radius: 25px;
	}
	.app > section {
		height: fit-content;
		padding: 30px;
	}
}
